.wrapper {
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(134,165,181,1) 100%);
  height: 100vh;
  width: 100vw;
}
.card {
  border: 0;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  input {
    border: 0;
    border-bottom: 2px solid #D0D0D0;
    border-radius: 0;
    transition: all .2s ease-in-out;
    &:active,
    &:focus {
      border-bottom: 2px solid #34ad34;
      box-shadow: none;
      outline: 0;
    }
  }
  button {
    background-color: #34ad34;
    border-radius: 50px;
    border: 0;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    color: white;
    font-weight: bold;
    padding: 10px 0;
    &:disabled {
      background-color: rgba(#34ad34, .5);
    }
  }
}