<div class="row mt-5 justify-content-center">
  <div class="col-12 col-md-10">
    <h2 class="text-uppercase text-center">Itirapina</h2>
    <div class="mapa mapa-itirapina" aria-label="Mapa Itirapina" [inlineSVG]="'/assets/img/plantas/mapa-itirapina.svg'"></div>
  </div>
  <div class="col-12 col-md-10">
    <h2 class="text-uppercase text-center">Sumaré</h2>
    <div class="mapa mapa-sumare" aria-label="Mapa Sumaré" [inlineSVG]="'/assets/img/plantas/mapa-sumare.svg'"></div>
  </div>
</div>