<div class="wrapper" *ngIf="(user$ | async) as user">
  <div class="container-fluid">
    <div class="row justify-content-center pt-2">
      <div class="col-12 col-md-4 d-flex">
        <span class="welcome-text d-block">Bem-vindo, {{ user?.name }}!</span>
      </div>
      <div class="col-12 col-md-4 d-flex">
        <img src="/assets/img/logo-sma.svg" class="img-fluid mx-auto" />
      </div>
      <div class="col-12 col-md-4 d-flex">
        <button type="button" class="ml-auto logout" (click)="logout()"><img src="/assets/img/log-out.svg" class="img-fluid"></button>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12">
        <app-carousel></app-carousel>
      </div>
    </div>
  </div>
</div>
<div id="info-pane"></div>