.wrapper {
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(134,165,181,1) 100%);
  min-height: 100vh;
  min-width: 100vw;
}
button.logout {
  border: none;
  background-color: transparent;
  &:hover {
    cursor: pointer;
    color: red;
  }
}
.info-pane {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  display: none;
  height: auto;
  max-width: calc(100% - 60px);
  position: fixed;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  width: 380px;
  z-index: 99999;
  &.active {
    display: block;
  }
}
[id^=highlight]{padding:15px;position:relative;transition:transform .2s;transform-origin:center center}[id^=highlight]:hover{transform:scale(1.05);z-index:9999}