<div class="wrapper">
    <div class="container-fluid pt-5">
      <div class="row justify-content-center pt-5">
        <div class="col-10 col-md-4">
          <img src="/assets/img/logo-sma.svg" class="img-fluid" />
        </div>
      </div>
      <div class="row justify-content-center">
        <form [formGroup]="loginForm" class="form mt-4" (submit)="login()">
          <div class="col-10 col-md-6">
            <div class="card mt-5 p-5">
              <div class="form-group">
                  <label>Número da matrícula:</label>
                <input formControlName="matricula" #matriculaInput type="number" pattern="[0-9]*" inputmode="numeric" name="matricula" class="form-control" placeholder="ex.: 201909082"/>
              </div>
              <div class="form-group">
                <label>Senha (data de nascimento):</label>
                <input formControlName="password" type="number" pattern="[0-9]*" inputmode="numeric" name="password" class="form-control" placeholder="ex.: 21112019" style="-webkit-text-security: disc;"/>
              </div>
              <button type="submit" (click)="login()">ENTRAR</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>